.NavigationItem {
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  transition: color 0.15s ease;
  line-height: 24px;
  display: inline-block;
  background-color: transparent;
}
